body {
    background-color: grey;
    color: black;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 200px;
    border-radius: 50%;
}

.profile-name {
    text-align: center;
    padding: 30px;
    font-size: 38px;
}

.links {
    background-color: rgb(128,0,0);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    color: black;
    background-color: white;
}

footer {
    text-align: center;
    margin-top: 30px;
}